OPENAI_API_KEY=SHIT
TWILIO_ACCOUNT_SID=SHIT
TWILIO_AUTH_TOKEN=SHIT


CONNECTION_TYPE=asterisk
PUBLIC_WSS_URL=asterisk

FRAPPE_BASE_URL=asterisk


# midwest erp
FRAPPE_API_SECRET=asterisk
FRAPPE_API_KEY=asterisk


# eshara erp
# FRAPPE_API_KEY=cf714c503b590b8
# FRAPPE_API_SECRET=a2c29921a91056d

